// User profile
// --------------------------------------------------
.pane-oa-widgets-user-profile {
  .user-picture {
    width: 20%;
    margin-right: 5%;
  }
  .user-info {
    .user-realname a {

    }
    text-align: center;
    width: 75%;
    .user-name,
    .user-role {
      font-size: $fontSizeSmall;
    }
  }
  .links {
    text-align: right;
    a {
      font-size: $fontSizeMini;
      border-right: 1px solid #555;
      padding-right: 5px;
    }
    a:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}